.todo-header {
  height: 100px;
  color: #fff;
  background-color: #2696F0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.todo-container {
  position: relative;
  max-width: 480px;
  width: 100%;
  border-radius: 8px;
  padding: 25px;
  margin: -50px auto 25px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.todo-input-wrap {
  position: relative;
  height: 30px;
  width: 100%;
}

.todo-input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: 7px 20px 7px 7px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.todo-add-btn {
  appearance: none;
  border: none;
  background-color: transparent;
  color: #2696F0;
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-empty {
  display: block;
  font-size: 14px;
  color: #333;
}

.todo-list:has(li) + .todo-empty {
  display: none;
}

.todo-list {
  margin: 0;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: #eff5ff;
  padding: 10px 7px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  justify-content: space-between;
  word-break: break-all;
  gap: 12px;
}

.todo-item.done {
  opacity: 0.5;
  text-decoration: line-through; 
}

.todo-list__btn {
  display: flex;
  gap: 14px;
  flex-shrink: 0;
}

.todo-remove, .todo-edit, .dialog-cancel, .dialog-update {
  color: #fff;
  padding: 8px 12px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  font-family: inherit;
  line-height: 1;
  -webkit-appearance: button;
  appearance: button;
  text-transform: none;
}

.todo-edit {
  background-color: #2696F0;
}

.todo-remove {
  background-color: #ff655b;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.dialog-content {
  border-radius: 8px;
  background-color: #FFF;
  margin: 0 auto;
  width: 80%;
  box-shadow: 0 6px 13px -3px rgba(0, 12, 66, 0.1), 0 0 1px rgba(0, 30, 100, 0.1);
  position: relative;
  padding: 20px;
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 40px;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
}

.dialog-title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.dialog-input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  padding: 7px 20px 7px 7px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.dialog-actions {
  margin-top: 16px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.dialog-update {
  background-color: #2696F0;
}

.dialog-cancel {
  background-color: #c3c3c3;
}
